http://cache.ce3c.be/|0|OK||gnutella2||
http://dkac.trillinux.org/dkac/dkac.php|0|OK||gnutella2||
http://webcache.peerproject.org/|0|OK||gnutella2||
http://cache.w3-hidden.cc/|0|OK||gnutella2||
http://cache.ibel.de/|0|OK||gnutella2||
