http://ein.gtkg.net:8080/gwc/|0|OK||gnutella||
http://leet.gtkg.org:8080/gwc/|0|OK||gnutella||
http://sissy.gtkg.org:8080/gwc/|0|OK||gnutella||
http://secondary.udp-host-cache.com:8080/gwc/|0|OK||gnutella||
http://silvers.servehttp.com/Beacon/gwc.php|0|OK||gnutella||
http://gweb.4octets.co.uk/skulls.php|0|OK||gnutella||
http://gwc.cluephone.com/skulls.php|0|OK||gnutella||
http://gwc.lame.net/gwcii.php|0|OK||gnutella||
http://aniraws.com/bootstrap/skulls.php|0|OK||gnutella||
http://gwc.frodoslair.net/skulls/skulls.php|0|OK||gnutella||