http://uk.gnutella.dyslexicfish.net:3559/|0|OK||gnutella||
http://useast.gnutella.dyslexicfish.net:3559/|0|OK||gnutella||
http://uswest.gnutella.dyslexicfish.net:3559/|0|OK||gnutella||
http://webcache.peerproject.org/|0|OK||gnutella||
http://cache.w3-hidden.cc/|0|OK||gnutella||
