http://grantgalitz.com/Beacon/gwc.php|0|OK||gnutella2||
http://gwc.cluephone.com/skulls.php|0|OK||gnutella2||
http://cache.trillinux.org/g2/bazooka.php|0|OK||gnutella2||
http://gwc2.wodi.org/skulls.php|0|OK||gnutella2||
http://gwc.guufshop.com/skulls/skulls.php|0|OK||gnutella2||
http://midian.jayl.de/g2/bazooka.php|0|OK||gnutella2||
http://dogma.cloud.bishopston.net:33559/|0|OK||gnutella2||
http://karma.cloud.bishopston.net:33559/|0|OK||gnutella2||
http://cache.pongwar.com/|0|OK||gnutella2||
http://gwc.frodoslair.net/skulls/skulls.php|0|OK||gnutella2||
http://dkac.trillinux.org/dkac/dkac.php|0|OK||gnutella2||
http://gweb.4octets.co.uk/skulls.php|0|OK||gnutella2||
http://gwebcache.ns1.net/|0|OK||gnutella2||